<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Downloader</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <img src="{{ url_for('static', filename='youtube.jpg') }}" alt="youtube" />
    <h1>YouTube Downloader</h1>
    <form action="/download" method="post">
      <label for="link">Enter YouTube URL</label><br />
      <input type="text" id="link" name="link" /><br /><br />
      <input type="submit" value="Download" />
    </form>
  </body>
</html>
